
node_modules/
.env
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/
coverage/
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo
*.bak
tmp/
debug/
src/db/*.sqlite
src/db/*.db
src/db/*.sqlite3
src/db/*.log
src/db/*.bak
src/db/*.tmp
